
[submodule "digital-whitepapers"]
	path = digital-whitepapers
	url = ../digital-whitepapers.git
	branch = main
[submodule "synthesis-whitepapers"]
	path = synthesis-whitepapers
	url = ../synthesis-whitepapers.git
	branch = main
[submodule "opensoc-whitepapers"]
	path = opensoc-whitepapers
	url = ../opensoc-whitepapers.git
	branch = main
[submodule "python4vlsi-whitepapers"]
	path = python4vlsi-whitepapers
	url = ../python4vlsi-whitepapers.git
	branch = main
[submodule "vp-whitepapers"]
	path = vp-whitepapers
	url = ../vp-whitepapers.git
	branch = main
[submodule "hls-whitepapers"]
	path = hls-whitepapers
	url = ../hls-whitepapers.git
	branch = main
